/*RESET*/
*{
    margin: 0;
    padding:0;
}
/* ESTILO GENERAL*/
header.hero{
    background: #123A52;
    color: #fff;
    height: 600px;
       padding: 100px;
    box-sizing: border-box;
    text-align: center;

}
.contenedor{
    text-align: center;
    margin: 80px;
}
header.hero h1 {
font-size: 2em;
    font-family: sans-serif;
 
}
.cara  {
font-size: 4em;
    font-family: sans-serif;
 
}


header.hero a{
    display: block;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 80px auto;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.4em;
    text-decoration: none; /*para que no tenga borde subrayado de los links que da por default*/
    line-height: 2.5em; /*1 em son aprox 16 px*/
    
}
header.hero .fa{
font-size:4em;
display: block;
}
header.hero a: hover{
    background: #fff;
    color: #1E90FF;
}

footer{
    background:#808080;
    padding: 20px 0;
    color:#C0C0C0;
    margin: 40px 0;
    text-align: center;
   
}

/* CLASES REUTILIZABLES*/
.caract{
    text-align:center;
    color: #666;
    display: block; /* ----permite darle altura anchura etc  -----*/
    text-decoration: none;
}
    .caract .fa{
        font-size:3.6em;
        color: #fff;
        margin: 10px;
        width: 120px;
        height: 120px;
        border: 6px solid #1E90FF;
        line-height: 2.1em;
        background: #808080;/* ----botones  -----*/
    }
.caract .titulo{
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    
}
    .caract .descripcion{
        color: #888;
        font-size: 1.2em;
        margin: 10px;
    
}
    /* caracteriticas ----- */
.caracteristicas{
    padding: 80px 0;
        overflow: hidden;
}

.caracteristicas .caract{
    width: 25%;
    float: left;
}

/* ----boton -----*/
section.boton{
    background: #123A52;/* ----facebook-----*/
    padding: 80px 0;
}
section.boton .caract .titulo {
    color: #fff;
    font-size: 2em;
}
section.boton .caract .fa{
    background: #fff; /* facebook */
    color: #1E90FF;
}
        
p{box-sizing: border-box;
    width: 80%;
    padding: 30px 10px;
    border: 4px solid #1E90FF;
    margin: 40px auto;
  
    text-align: left;

}
section.inicio{
    background:#C0C0C0;
   
  box-sizing: border-box;
    width: 70%;
    padding: 30px 10px;
    border: 4px solid #1E90FF;
    margin: 20px auto;


}
/* el estado responsive funciona con media queries*/
/* estado */
@media (max-width: 800px) {
header.hero {
    background:#123A52;
}
    header.hero h1{
        font-size: 2em;
    }
        header.hero h1 .fa{
        font-size: 2em;
        }
    header.hero a {
        background:#fff;
        color: #123A52;
    }
    .caracteristicas .caract {
        width: 50%;
    }

}


/* moviles */
@media (max-width: 600px) {
    .caracteristicas .caract{   /* se copia de alla arriba lo que se este viendo mal en version movil */  /*.shadowbox{
box-shadow: -15px 15px 75px rgba(55,55,55,6)
}*/
        width: 100%;
        
    }
}

section.productos{
    background:#fff;
    float:inherit;
    
    
}

form{
  background:#fff;
  width: 260px;
  height: 400px;
  margin: 80px auto;
}
form input, form textarea{
  background:#1E90FF;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #fff;
  margin-left: 10px;
}
form label{
  display: block;
  padding: 10px 30px;
}
form button{
  border:none;
  background: #1E90FF;
  color:#1E90FF;
  padding: 10px;
  display: block;
  float: right;
  margin-right: 40px;
  margin-top: 36px;
    margin-bottom: 36px;
}

